doctype html
html(lang='en')
  head
    meta(charset='utf-8')
  body
    .app
      .app__header
      .app__body.container
        .row
          .col.col-md-9
            form
              .form-group
                label(for='from') from
                input#from.form-control(type='text')
              .form-group
                label(for='to') to
                input#to.form-control(type='text')
              .form-group
                label(for='quantity') quantity
                input#quantity.form-control(type='text')
              .form-group
                label(for='private-key') memo
                input#private-key.form-control(type='text')
              .form-group
                label(for='private-key') private key
                input#private-key.form-control(type='text')
              .form-group
                input#send.btn.btn-outline-secondary(type='submit')
            #result
