@import "~bootstrap/scss/bootstrap";

html, body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
}
.app {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  &__header {
    height: 4.5rem;
  }
  &__body {
    flex-grow: 1;
  }
  &__sidebar {
    td {
      vertical-align: top;
    }
    td:last-child {
      padding-left: 1rem;
      font-weight: bold;
    }
  }
  &__footer {
    padding-top: 3rem;
  }
}
